body {
  /* background-color: rgba(250, 250, 250, 0.8); */
}

/* scrollbar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0)
}

::-webkit-scrollbar-thumb {
  background: rgba(235, 235, 235, 0.25);
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

#window_content {
  /* width: 80%;  */
}

#preSurvey {
  width: 100%;
  margin: 20vh 0;
  position: absolute;
  text-align: center;
  align-items: center;
}

#surveyElement {
  display: inline-block;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.sv_instruction {
  font-size: 1.1em;
  /* color: #223344; */
  padding-left: 0.1em;
  padding-right: 0.1em;
  line-height: 2;
}

.sv_description {
  font-size: 1em;
  color: #223344;
  padding-left: 1.15em;
  padding-right: 1.15em;
  line-height: 1.5;
}

/* progressbar */

#surveyElement>div>form>div.sv-container-modern>div.sv-body>div.sv-progress.sv-body__progress {
  margin: auto;
}

#surveyElement>div>form>div.sv-container-modern>div.sv-body>div.sv-progress.sv-body__progress>span {
  visibility: hidden;
}

#surveyElement>div>form>div.sv-container-modern>div.sv-body>div.sv-progress.sv-body__progress>div {}

/* timer */

#surveyElement>div>form>div.sv-container-modern>div.sv-body>div:nth-child(3) {
  margin: 35px 0 0 0px;
  text-align: center;
}

.sv-container-modern__title {
  padding-left: 0.05em;
  color: #1ab394;
  padding-top: 2em;
  padding-bottom: 0.9375em;
}

.sv-row {
  padding-bottom: 1.2em;
}

/* comment */

.survey_comment {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.06em solid #d4d4d4;
  border-radius: 0;
  box-sizing: border-box;
  padding: 0.25em 0.87em;
  font-family: inherit;
  font-size: 1em;
  min-height: 15em;
  padding: 1em;
  outline: none;
  width: 100%;
}

/* ladder panel!! */

#sp_102 {
  margin-right: 25vw;
}

/* bg */

#sp_100,
#sp_101 {
  background-image: url(../resources/fudan.png);
  background-position: right;
  background-repeat: space;
  background-size: cover;
  background-attachment: fixed;
}

#sp_103,
#sp_104 {
  /* background-image: url(../resources/stimuli/covid-01.png); */
  background-position-y: 200px;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-color: white;
}

#sp_105 {
  /* background-image: url(../resources/stimuli/covid-02.png); */
  background-position-y: 240px;
  background-position-x: center;
  background-repeat: space;
  background-size: contain;
  background-attachment: fixed;
  background-color: white;
}

/* ladder pics and stuff  */

#sq_118 {
  padding-left: 5vw;
  padding-right: 0vw;
  font-size: 0.98em;
}

#sq_118_ariaTitle>span {
  visibility: hidden;
}

#sq_118>div>fieldset {
  border: 0px solid;
  position: absolute;
  left: 10%;
  margin: 15px 5px;
}

#sq_118>div.sv-question__content>fieldset>div>label {
  width: 100%;
}

#sq_118>div.sv-question__header.sv-question__header--location--top {
  height: 20px;
  margin-bottom: 0.04em;
}

/* pic (should edit element style in js ) */

#sq_119>div>div:nth-child(2)>img {
  /* display: flex; */
  /* position: absolute; */
  /* right: 10%; */
  height: 430px;
}

/* end of ses lader */

#sq_124 {
  margin-top: 1.2em;
}

/* sticky rating instruction */

#sp_106>div>div:nth-child(1),
#sp_107>div>div:nth-child(1),
#sp_108>div>div:nth-child(1),
#sp_109>div>div:nth-child(1) {
  z-index: 99;
  position: sticky;
  top: 0;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
  width: fit-content;
  padding-right: 2%;
  padding-bottom: 0;
}

/* covid checker */

#sq_132,
#sq_131 {
  margin: 25px 0;
}

#surveyResult {
  width: 80%;
  margin: auto;
  line-height: 2;
}

/* modal stuff */

.modal {
  display: none;
  position: fixed;
  z-index: 91;
  width: 100%;
  height: 100%;
  height: fit-content;
  width: fit-content;
  border-radius: 8px 8px 0 0;
  text-align: left;
  overflow: auto;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24), 0 7px 15px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.modal-content {
  background-color: rgba(255, 255, 255, 0);
  margin: auto;
  padding: 20px;
  width: 80%;
  bottom: 10%;
  max-height: 80%;
  left: 0;
  right: 0;
  overflow: hidden auto;
  position: fixed;
  bottom: 10%;
  border-radius: 8px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.modal-content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0);
}

.modal_title {
  background-color: #ffffff;
  width: 100px;
  text-align: center;
  padding: 6px 10px;
}

/* toast stuff  */

#snackbar {
  visibility: hidden;
  min-width: 198px;
  margin-left: -99px;
  background-color: #345;
  background: rgba(50, 70, 99, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24), 0 7px 15px 0 rgba(0, 0, 0, 0.19);
  padding: 16px;
  position: fixed;
  z-index: 99;
  left: 50%;
  bottom: 80px;
  font-size: 15px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.survey_matrix {
  width: 100%;
  /* background-color: rgba(159, 159, 159, 0.1); */
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.8em;
}

.btn_rubic {
  background-color: #7D3763;
  font-size: 0.8em;
}

.btn_grey {
  background-color: #aaa;
  font-size: 0.8em;
}

@media(min-width: 420px) {
  #sq_119 {
    padding-left: 10vw;
  }
}
@media(max-width: 420px) {
.modal-content {
  width: 85%;
  }
  
.sv_instruction {
    font-size: 1em;
    line-height: 2;
}
}

@-webkit-keyframes slideIn {
  from {
    bottom: -900px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    bottom: -900px;
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
