/* @import url('https://fonts.cdnfonts.com/css/linux-biolinum-o'); */

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap'); */

body {
  margin: 0;
  font-family: 'Microsoft Yahei Light', 'Microsoft Yahei', "Noto Sans", "Noto Sans CJK JP", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  align-items: center;
}

/* containers */

.container {
  /* position: relative; */
  width: 100%;
  /* height: 100%; */
}


.bg-image {
  background-color: #eeeeee;
  background-color:  rgba(235, 235, 235, 0.8);
  background-image: url("./resources/fudan.png");
  height: 100vh;
  background-position: center;
  background-repeat: space;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

#page_consent {
  background-image: url("./resources/fudan.png");
  max-height: 100%;
  background-position: center;
  background-repeat: space;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  overflow-y: auto;
}

#page_info {
  /* background-image: url("./resources/fudan.png"); */
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-y: auto;
}

#window_content {
   overflow-x: hidden;
   padding: 0 5%;
   width: 87.5%;
   display: inline-grid;
   justify-content: center;
   align-items: center;
   text-align: center;
   
}

/* scrollbar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
  background: rgba(235, 235, 235, 0);
}

::-webkit-scrollbar-thumb {
  background: #eeeeee;
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb:hover {
  background: #fafafa;
}


/* texts */

.blank {
  margin: -2vh 0;
}

.text {
  font-size: 25px;
  text-align: center;
  line-height: 1.8;
}

.text_l {
  /* width: 90%; */
  font-size: 33px;
  line-height: 2;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  /* margin: auto; */
}

.text_m {
  width: 90%;
  font-size: 24px;
  line-height: 2;
  text-align: center;
  margin: auto;
}

.text_s {
  /* width: 85%; */
  font-size: 21px;
  line-height: 1.7;
  margin: auto;
}

.title {
  font-weight: 800;
  font-size: 42px;
  line-height: 200%;
}

/* Customize the label (the checkcontainer) */

.checkcontainer {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: underline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1000px;
  height: 25px;
  width: 25px;
  background-color: #aaa;
}

.checkcontainer:hover input~.checkmark {
  background-color: #999;
}

.checkcontainer input:checked~.checkmark {
  background-color: #556677;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkcontainer input:checked~.checkmark:after {
  display: block;
}

.checkcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input {
  display: flex;
  font-size: 25px;
}

/* buttons */

.button {
  background-color: #556677;
  border: none;
  color: white;
  width: 190px;
  height: 48px;
  font-size: 22px;
  outline: none;
  position: relative;
  bottom: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 100px;
  margin: auto;
  cursor: pointer;
  -ms-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.button:hover {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24), 0 7px 15px 0 rgba(0, 0, 0, 0.19);
}

.button:active {
  background-color: #334455;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}

.button:disabled {
  background-color: #778899;
  color: #556677;
}

/* table */

table {
  border-collapse: collapse;
  vertical-align: center;
  font-size: 18px;
  text-align: left;
  padding: 15px;
  width: 60%;
  position: relative;
  margin: auto;
}

th,
td {
  padding: 10px 12px;
  width: 1px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  /* font-size: 21px; */
  /* background-color: #eee; */
}

tr:nth-child(even) {
  background-color: rgba(126, 129, 188, 0.2);
}

tr::hover {
  background-color: #ddd;
}

/* for mobile device screen */

@media(min-height: 800px) {
  .blank {
    margin: 2.5vh 0;
  }
}

@media(min-height: 900px) {
  .blank {
    margin: 3vh 0;
  }
}

@media(max-aspect-ratio: 1/1) {
  .blank {
    margin: 2vh 0;
  }
  .text {
    font-size: 20px;
    line-height: 1.4;
  }
  .text_l {
    font-size: 22px;
    line-height: 2.2;
  }
  .text_m {
    font-size: 20px;
    line-height: 2.2;
  }
  .text_s {
    font-size: 18px;
    line-height: 2;
    /* text-align: left;  */
  }
  .title {
    font-weight: 800;
    font-size: 38px;
    line-height: 1.6;
  }
  .button,
  #jspsych-fullscreen-btn {
    bottom: 10%;
    width: 160px;
    height: 45px;
    font-size: 18px;
    font-weight: 400;
  }
  table {
    font-size: 16.5px;
    line-height: 1.5;
    width: 90%;
  }
}

/* for small mobile device screen */

@media(max-width: 460px) {
  .blank {
    margin: 1vh 0;
  }
  .button {
    width: 125px;
    height: 40px;
    font-size: 22px;
    font-size: 16px;
    font-weight: 400;
  }
  .title {
    /* font-weight: 700; */
    font-size: 30px;
    line-height: 1.5;
  }
  .text {
    /* font-size: 22px; */
    /* line-height: 1.25; */
  }
  .text_l {
    font-size: 22px;
    /* line-height: 2;  */
  }
  .text_m {
    font-size: 17px;
    line-height: 1.8;
  }
  .text_s {
    font-size: 15.5px;
  }
  table {
    font-size: 15px;
    line-height: 1.3;
    width: 95%;
  }
}

/* animation  */

.puff-in-ver {
  -webkit-animation: puff-in-ver 0.6s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1s both;
  animation: puff-in-ver 0.6s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1s both;
}

@-webkit-keyframes puff-in-ver {
  0% {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes puff-in-ver {
  0% {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.scale-in-hor-center {
  -webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.2s both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.2s both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.scale-in-hor-center {
  -webkit-animation: scale-in-hor-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.2s both;
  animation: scale-in-hor-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.2s both;
}

@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}

.puff-out-bottom {
  -webkit-animation: puff-out-bottom 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
  animation: puff-out-bottom 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

@-webkit-keyframes puff-out-bottom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}

@keyframes puff-out-bottom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}

.slide-top-fideout {
  -webkit-animation: slide-top-fideout 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
  animation: slide-top-fideout 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
}

@-webkit-keyframes slide-top-fideout {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  33% {
    -webkit-transform: translateY(-255%);
    transform: translateY(-255%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-255%);
    transform: translateY(-255%);
    opacity: 0;
  }
}

@keyframes slide-top-fideout {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  33% {
    -webkit-transform: translateY(-255%);
    transform: translateY(-255%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-255%);
    transform: translateY(-255%);
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: fade-out 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  -webkit-animation: fade-in 1.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out both;
  animation: heartbeat 1.5s ease-in-out both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.90);
    transform: scale(0.90);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.90);
    transform: scale(0.90);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.7s cubic-bezier(0.075, 0.820, 0.165, 1.000) forwards;
  animation: slide-in-right 0.7s cubic-bezier(0.075, 0.820, 0.165, 1.000) forwards;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.rotate-in-center {
  -webkit-animation: rotate-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.6s both;
  animation: rotate-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.6s both;
}

@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

.roll-in-left {
  -webkit-animation: roll-in-left 0.5s ease-out both;
  animation: roll-in-left 0.5s ease-out both;
}

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.slide-in-blurred-left {
  -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}